SERVER_HOST=localhost
SERVER_PORT=8080
AUTH_SERVICE_ADDR=localhost:50051

DB_NAME=store
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root
DB_SSL_MODE=disable

READ_TIMEOUT=10s
WRITE_TIMEOUT=10s
IDLE_TIMEOUT=45s